@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.mainFile * {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
.footerContent {
  width: 100%;
  margin: auto;
  border-top: 1px solid rgb(227, 230, 234);
}
.footer {
  width: 61rem;
  height: 66px;
  margin: auto;
  display: flex;
  align-items: center;
}
.footer h4 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 0.9rem;
}
.copyRight {
  width: 100%;
  color: rgb(129, 134, 141);
  font-weight: normal;
}
.allIcons {
  width: 100%;
}

.allIcons > .innerDivIcons {
  width: 40%;
  height: 60%;
  margin: auto;
  display: flex;
  align-items: center;
}
.allIcons > .innerDivIcons > div {
  width: 100%;
  height: 80%;
}
.allIcons > .innerDivIcons > div > img {
  width: 60%;
  height: 60%;
  margin: auto;
  align-items: center;
}

.secured {
  width: 100%;
  display: flex;
  color: rgb(51, 51, 51);
  font-size: 0.9rem;
  align-items: center;
  justify-content: flex-end;
}


/**-----------------------
 * ! Middle Footer Css Starting
 *------------------------**/

.middleDiv {
  width: 59rem;
  display: flex;
  margin: 0px auto 7px;
}
.middleDiv > div {
  width: 100%;
  text-align: left;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 3.6;
}

/**=======================
 * !      Upper Footer
 *========================**/

.upperFooter {
  width: 100%;
  height: 66px;
  margin: 0 auto 15px;
  background-color: rgb(245, 246, 248);
  border: 1px solid rgb(227, 230, 234);
}
.upperFooter > .yatraDiv {
  width: 57%;
  height: 66px;
  display: flex;
  margin: auto;
  align-items: center;
}
.upperFooter > .yatraDiv > div {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  align-items: center;
}

.upperFooter > .yatraDiv > div > img {
  width: 60%;
  height: 60%;
}
