@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
.hotel_filter_main_container {
	background: #f2f2f2;
	width: 100vw;
	display: flex;
	justify-content: center;
	border-top: 1px solid rgb(211, 209, 209);
}
.hotel_filter_main_container * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Rubik";
}
.hotel_filter_main_container_left {
	width: 22%;
	height: 1630px;
	background: #fff;
	display: flex;
	justify-content: center;
}
.hotel_filter_main_container_right {
	width: 60%;
}
.hotel_left_container {
	width: 90%;
	margin-top: 40px;
}
.hotel_left_container_content {
	display: flex;
	flex-direction: column;
	padding: 11px 0;
	border-bottom: 1px solid #c7c7c7;
}
.hotel_left_container > div:last-child {
	border-bottom: none !important;
}
.hotel_left_container_content_title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hotel_left_container_content_title > h6 {
	font-family: "Rubix-Medium";
	font-weight: 600;
	color: #333;
	font-size: 12px;
	cursor: pointer;
	text-transform: uppercase;
}
.hotel_left_container_content_title > p {
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 570;
	color: #c1c1c1;
	font-size: 11px;
	margin-right: 10px;
}
.hotel_left_container_content_body {
	display: flex;
	align-items: center;
	margin-top: 10px;
	width: 100%;
}
.hotel_left_container_content_body > div {
	border: 1px solid #c7c7c7;
	box-shadow: none;
	background: #f7f7f7;
	color: #333;
	font-size: 14px;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 2px;
	border-radius: 3px;
	height: 33px;
}
.hotel_left_container_content_body > div:hover {
	border: 1px solid #8eb5e4;
	box-shadow: 0px 0px 14px #8eb5e4;
}
.hotel_left_container_content_body > div > input {
	border: none;
	outline: none;
	width: 90%;
	padding-left: 5px;
	background: inherit;
}
.search {
	cursor: pointer;
}
.hotel_left_container_content_body_checkbox {
	margin-top: 10px;
	width: 100%;
	position: relative;
}
.hotel_left_container_content_body_checkbox > div {
	display: flex;
	align-items: center;
	position: relative;
	margin: 0;
}
.hotel_left_container_content_body_checkbox > div > span {
	font-size: 12px;
	font-family: "Rubik";
	font-size: 0.857rem;
	color: #333;
	line-height: 1.8;
	display: flex;
	align-items: center;
}
.hotel_left_container_content_body_checkbox > div > span > p {
	font-size: 12px;
	font-family: "Rubik";
	font-size: 0.857rem;
	color: #999;
	line-height: 1.8;
	margin-left: 7px;
}
.custom_checkbox {
	margin: 3px 10px 3px 0px;
	color: #999;
}
.star_icon {
	color: #f34f4f;
	border-bottom: 1px solid #999;
	padding-bottom: 5px;
}
.hotel_left_container_content_body_rating {
	display: flex;
	margin-top: 10px;
	width: 100%;
	position: relative;
	border: 1px solid #999;
	width: 100%;
}
.hotel_left_container_content_body_rating > div {
	width: 20%;
	border-right: 1px solid #999;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.hotel_left_container_content_body_rating > div:last-child {
	border: none;
}
.hotel_left_container_content_body_rating > div > div:first-child {
	padding: 5px;
	font-size: 1rem;
	color: #333;
	font-weight: 600;
	letter-spacing: 1px;
}
.hotel_left_container_content_body_rating > div > div:last-child {
	padding: 5px;
	font-size: 0.8rem;
	color: #333;
	font-weight: 600;
	letter-spacing: 1px;
}
.trip_advisor_rating {
	color: #00a680 !important;
	font-size: 0.9rem !important;
	font-weight: 600 !important;
}
.advisor_rating {
	background: transparent
		url(https://www.travelguru.com/travelguru/resources/beetle/images/tripAdv-logo.png)
		no-repeat;
	float: left;
	height: 16px;
	width: 26px;
}
.top_padding {
	border-top: 1px solid #999 !important;
	padding-top: 5px !important;
	margin-top: 5px;
}
.hotel_right_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.hotel_right_container_top {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 20px;
	margin-bottom: 20px;
}
.hotel_right_container_top > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.hotel_right_container_top_bottom {
	width: 80%;
	justify-content: center;
}
.hotel_right_container_top_top {
	width: 20%;
	justify-content: flex-end;
}
.hotel_right_container_top_bottom > h6 {
	font-family: "Rubik";
	font-size: 14px;
	font-weight: 400;
	color: #333;
	margin-bottom: 3px;
}
.hotel_right_container_top_bottom > p {
	font-family: "Rubik";
	font-size: 10px;
	font-weight: 400;
	color: #999;
}
.hotel_right_container_top > div :first-child {
	display: flex;
	justify-content: center;
	align-items: center;
}
.hotel_right_container_top_btn {
	background: #e4e4e4;
	border: 1px solid #bfbfbf;
	color: #666;
	transition: 0.5s;
	border-radius: 3px;
	padding: 2px;
	padding-right: 10px;
}
.hotel_right_container_top_btn:hover {
	background: #e4e4e4;
	border: 1px solid #333;
	color: #333;
}
.hotel_right_container_middle_top {
	width: 96%;
	margin-left: 2%;
	background: #333;
	height: 45px;
	border-radius: 5px;
}
.hotel_right_container_middle_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hotel_right_container_middle_top_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 15px;
}
.hotel_right_container_middle_top_top > button {
	background: #f2f2f2;
	width: 150px;
	height: 52.5px;
	border: none;
	outline: none;
	color: #666;
	font-size: 14px;
	font-weight: 400;
	font-family: "Rubik";
	border-top: 5px solid #55961c;
	text-align: center;
}
.hotel_right_container_middle_top_bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hotel_right_container_middle_top_bottom > button:first-child {
	background: #fff;
	color: #333;
	cursor: pointer;
	border: 1px solid #333;
	border-radius: 3px;
	text-align: center;
	padding: 2px 15px;
	position: relative;
	font-size: 11px;
	vertical-align: top;
	text-align: center;
	position: relative;
	margin-right: 30px;
	height: 30px;
}
.hotel_right_container_middle_top_bottom > button:last-child {
	background: #ccc;
	color: #757575;
	height: 30px;
	border: 1px solid #757575;
	border-radius: 3px;
	text-align: center;
	padding: 1px 10px;
	position: relative;
	font-size: 14px;
	vertical-align: top;
	position: relative;
	cursor: pointer;
	margin-right: 10px;
	font-weight: 520;
}
.hotel_right_container_middle_top_bottom > button:last-child > span {
	color: rgb(82, 147, 189);
}
.hotel_right_container_middle_top_bottom > button:first-child::after {
	content: "New";
	position: relative;
	top: -25px;
	color: #fff;
	background: #55961c;
	padding: 2px;
	border-radius: 2px;
	left: 25px;
}

.hotel_right_container_middle_bottom_top {
	display: flex;
	justify-content: space-between;
	width: 96%;
	margin-left: 2%;
	margin-top: 20px;
}
.search_icon {
	cursor: pointer;
	margin: 0;
}
.hotel_right_container_middle_bottom_top > div {
	color: #666;
	font-size: 11px;
	font-family: "Rubik";
	font-weight: 400;
}
.div_hover:hover {
	color: #2b6dad;
	cursor: pointer;
}
.div_hover:hover > span {
	color: #666;
}
.hotel_right_card {
	width: 96%;
	margin-left: 2%;
	margin-top: 20px;
}
.hotel_card_container {
	width: 100%;
	display: flex;
	border-radius: 5px;
	height: 230px;
	border: 1px solid #ccc;
	background: #fff;
	margin-bottom: 15px;
}
.hotel_card_container:hover {
	box-shadow: 0px 0px 14px #55961c;
}
.carousel {
	width: 32%;
	height: 100%;
}
.hotel_card_left {
	height: 230px;
	width: 100%;
}
.hotel_card_left_img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.hotel_card_left > div {
	position: relative;
	font-style: italic;
	font-family: "Rubik";
	font-weight: 500;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	top: -35px;
	padding: 2px;
	background: #333;
	font-size: 12px;
	opacity: 0.8;
}
.hotel_card_left > div > span:first-child {
	margin-left: 5px;
}
.hotel_card_middle {
	width: 45%;
	height: 100%;
	margin-left: 20px;
}

.hotel_card_right {
	height: 100%;
	width: 23%;
	margin-right: 20px;
}
.hotel_card_middle > div,
.hotel_card_middle > div > span {
	display: flex;
	align-items: center;
}
.star_icon_2 {
	color: #f34f4f;
	margin: 0;
	padding: 0;
	height: 20px;
}
.room_icon {
	color: #999;
	margin: 0;
	padding: 0;
	height: 18px;
}
.hotel_card_middle_1 > h3 {
	color: #333;
	font-family: "Rubik";
	transition: all 0.3s ease-in-out 0s;
	font-weight: 400;
	font-size: 18px;
	margin: 10px 0 5px 0;
}
.hotel_card_middle_1 > h3:hover {
	color: #ff7400;
	cursor: pointer;
}
.hotel_card_middle_2 > span {
	color: #4ea5df;
	font-family: "Rubik";
	font-size: 12px;
	font-weight: 400;
	cursor: pointer;
	transition: all 0.3s ease-in-out 0s;
	margin: 5px 0;
}
.hotel_card_middle_2 > span:hover {
	color: #ff7400;
}
.hotel_card_middle_3 {
	margin: 10px 0;
}
.hotel_card_middle_3 > span > h5,
.hotel_card_middle_4 > span > h5 {
	font-family: "Rubik";
	font-size: 13px;
	font-weight: 400;
	color: #333;
	margin: 5px 8px 5px 0px;
}
.circle_icon,
.free_icon,
.loyalty_icon {
	height: 16px;
	color: #666;
}
.hotel_card_middle_4 > span > img {
	height: 23px;
	margin-right: 8px;
}
.hotel_card_right > span {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
}
.hotel_card_right_1 {
	color: #00a680;
	font-family: "Rubix";
	font-size: 14px;
	margin: 10px 10px 0 0;
	font-weight: 500;
}
.hotel_card_right_1 > p > span {
	color: #999;
	font-family: "Rubik";
	font-size: 13px;
}
.hotel_card_right_2 {
	color: #333;
	font-family: "Rubik";
	font-size: 14px;
	margin: 10px 10px 0 0;
	font-weight: 530;
}
.hotel_card_right_2 > span {
	color: #00a680;
}
.hotel_card_right_3 {
	color: #333;
	font-family: "Rubik";
	font-size: 24px;
	margin: 30px 10px 0 0;
	font-weight: 600;
}
.hotel_card_right_4 {
	color: #333;
	font-family: "Rubik";
	font-size: 16px;
	margin: 0px 10px 0 0;
	font-weight: 400;
}
.hotel_card_right_5 > button {
	background: #55961c;
	border: 1px solid #55961c;
	color: #fff;
	padding: 8px 12px;
	border-radius: 5px;
	font-family: "Rubik";
	margin-top: 30px;
	cursor: pointer;
}
.hotel_card_right_5 > button > a {
	text-decoration: none;
	color: #fff;
}
.active_border {
	border-top: 3px solid #55961c !important;
}
